.container {
    text-align: center;
    justify-items: center;
  }
  
  .h1 {
    color: #8BA8D4;
    font-size: 80px;
    margin-bottom: 15px;
    margin-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .h2 {
    font-size: 5em;
    color: #AFD0F4;
    justify-content: center;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    }

  
  
  
  